.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: #04071a;
    
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 15px;
    text-align: center;
}

.buttonContainers svg {
    font-size: 2rem;
}

.conferenceView { 

    display: flex;
    
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: rgb(215, 215, 215);
    border-radius: 10px;
    width: 25vw;
    padding-inline: 20px;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.chattingArea {
     display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.chattingDisplay{
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px; /* space for the input */
}


.askUsername{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 2rem;
    background: url(../martin-martz-Sjp4w1dYpoc-unsplash.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.videoPreview{
    height: 60vh;
    border: 1px solid white;
}